$bg-lightgray: #f1f1f1;
$bg-white: #ffffff;
$bg-green: #63d1bb;
$bg-darkgreen: #56c3b2;
$mobile-width: 320px;
$tablet-width: 768px;
$desctop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$hover: #62d1ba;
$active: #c7c7c7;

$baseFontColor: #444444;
$baseFontFamily: "Open Sans", "Arial", sans-serif;
$mediumFontSize: 17px;
$mediumLh: 18px;
$mediumFontSize-tablet: 19px;
$mediumLh-tablet: 19px;
