.advantages__container {
  @include container;
}

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

  padding-top: 33px;

  @include curve-line-mobile;
}

.advantages__slogan {
  margin: 0;
  padding: 0;

  @include index-title-text;

  margin-bottom: 30px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 74px;

    @include curve-line-tablet;
  }

  .advantages__slogan {
    @include index-title-tablet;
    margin-top: -9px;
    margin-bottom: 48px;
    margin-left: -3px;
  }
}

@media (min-width: $desctop-width) {
  .advantages {
    padding-top: 45px;

    @include curve-line-desktop;

    background-position: center top;
  }
  .advantages__slogan {
    @include index-title-desktop;

    margin-left: 171px;
    margin-bottom: 49px;
    margin-right: 1px;
    margin-top: 35px;
  }

  .advantages__list {
    margin-left: 175px;
    margin-right: 175px;
  }
}
