.advantages__container {
  @include container;
}

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

  margin-bottom: 30px;
}

.advantages__slogan {
  margin: 0;
  padding: 0;

  @include index-title-text;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $desctop-width) {
  .advantages__slogan {
    margin-left: 175px;
  }

  .advantages__list {
    margin-left: 175px;
    margin-right: 175px;
  }
}
