.contacts-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts-details__title {
  @include contacts-title-text;
}

.contacts-details__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


@media (min-width: $tablet-width) {
  .contacts-details__title {
    @include intro-text-tablet;

    margin-bottom: 62px;
    margin-top: 46px;
  }
}

@media (min-width: $desctop-width) {
  .contacts-details {
    margin-left: 175px;
    width: 350px;
    padding: 0;
  }

  .contacts-details__title {
    @include intro-text-desctop;

    margin-top: 150px;
    margin-bottom: 62px;
  }
}
