.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contacts__container {
  @include container;
}

.contacts-details__flag {
  display: none;
}

.contacts__map {
  height: 460px;
  width: 100%;

  margin-top: 7px;

  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 664px auto;
  }
}

.contacts__iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.contacts-details__send-us {
  @include button;
  @include goods-order-text;

  padding: 15px 46px 15px 42px;
  margin-top: 35px;
  margin-bottom: 39px;

  width: 260px;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .contacts__container {
    @include container;

    position: relative;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contacts-details__flag {
    position: absolute;
    display: block;
    width: 47px;
    height: 81px;
    top: 48px;
    right: 52px;
  }

  .contacts__map {
    width: 100%;
    margin-top: 27px;

    background-image: url("../img/map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 768px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 1536px auto;
    }
  }

  .contacts-details__send-us {
    margin: 52px auto 57px auto;
    width: 232px;
    padding: 15px 40px 15px 39px;
  }
}


@media (min-width: $desctop-width) {
  .contacts {
    @include container;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;

    position: relative;
  }

  .contacts-details__flag {
    position: absolute;
    display: block;
    width: 47px;
    height: 81px;
    top: 135px;
    left: -112px;
  }

  .contacts__map {
    width: 525px;

    background-image: url("../img/map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 525px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 525px auto;
    }

    margin-bottom: 105px;
    margin-top: 70px;
  }

  .contacts-details__send-us {
    position: absolute;
    bottom: 0;
    margin-left: 175px;
    margin-bottom: 105px;
  }
}
