.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.map {
  height: 460px;
  margin-bottom: 38px;
  width: 100%;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.contacts-details__send-us {
  align-self: center;
}

@media (min-width: $desctop-width) {
  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 175px;
  }
}
