.copyright__container {
  @include container;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;

  padding-left: 40px;
  padding-right: 40px;
}

.copyright__text {
  @include copyright-text;

  margin-right: 30px;
}

.copyright__icon {
  fill: #63d1bb;
}
