.details-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-list__item {
  width: 100%;
}


@media (min-width: $tablet-width) {
  .details-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .details-list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: $desctop-width) {
  .details-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
