.details-item {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.details-item__value {
  @include review-description-text;
  margin-right: 28px;
}

.details-item__email-to {
  @include review-description-text;

  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}

.details-item__email-to {
  &:hover {
    color: #62d1ba;
  }

  &:active {
    color: #62d1ba;
    opacity: 0.3;
  }
}

.details-item__description {
  @include review-description-text;

  width: 182px;
}


@media (min-width: $tablet-width) {
  .details-item {
    width: 334px;
  }

  .details-item__value {
    @include contacts-list-tablet;
  }

  .details-item__description {
    @include contacts-list-tablet;
  }

  .details-item__email-to {
    @include contacts-list-tablet;

    display: block;
    height: 30px;
  }
}
