.details-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-list__item {
  @include contacts-list-tablet;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details-list__email-to {
  width: 183px;
  text-decoration: none;
}

.details-list__description {
  width: 183px;
}

@media (min-width: $tablet-width) {
  .details-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 60px;
  }

  .details-list__item {
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .details-list__value {
    margin-right: 28px;
  }

  .details-list__description {
    width: 250px;
  }
}

@media (min-width: $desctop-width) {
  .details-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
}
