.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
  }
}

@media (min-width: $desctop-width) {
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
  }
}
