.goods-order__container {
  @include container;
}

.goods-order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.goods-order__price {
  @include goods-price-text;
}

.goods-order__book {
  @include goods-order-text;
}
