@import "variables.scss";

.goods-pages__link {
  width: 320px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.goods-pages__title {
  margin: 0;
  padding: 0;
}

.goods-pages__title--interior {
  background-color: $bg-green;

  @include goods-text;
}

.goods-pages__title--toys {
  background-color: $bg-darkgreen;

  @include goods-text;
}
