.goods-card {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}

@media (min-width: $tablet-width) {
  .goods-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    margin-top: 52px;
  }
}

@media (min-width: $desctop-width) {
  .goods-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    margin-top: 132px;
  }
}
