.goods-order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.goods-order__price {
  @include goods-price-text;

  align-self: center;

  margin-bottom: 25px;
}

.goods-order__book {
  @include goods-order-text;
  @include button;

  width: 260px;
  text-align: center;

  margin-bottom: 35px;
}


@media (min-width: $tablet-width) {
  .goods-order {
    width: 292px;
  }
  
  .goods-order__price {
    margin-bottom: 34px;
    align-self: center;
  }
  .goods-order__book {
    @include goods-order-text;
    @include button;

    width: 292px;
  }
}

@media (min-width: $desctop-width) {
  .goods-order {
    width: 292px;
  }

  .goods-order__price {
    margin-bottom: 34px;
    align-self: center;
  }
}
