.goods-card {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media (min-width: $tablet-width) {
  .goods-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include container;

    position: relative;
  }
}

@media (min-width: $desctop-width) {
  .goods-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include container;

    position: relative;
  }
}
