.goods-pages__title-container {
  @include container;
}

.goods-pages__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.goods-pages__title {
  @include goods-text;

  padding-right: 130px;
}

.goods-pages {
  background-color: $bg-green;

  padding-top: 30px;
  padding-bottom: 30px;
}

.goods-pages:last-of-type {
  background-color: $bg-darkgreen;
}
