.goods-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.goods-image__container {
  @include container;
}

.goods-order__container {
  @include container;
}
