.intro-list {
  padding: 0;
  margin: 0;
}

.intro-list__item {
  margin-right: 60px;
}

.intro-list__item:last-child {
  margin-right: 0;
}

.intro-list__link {
  @include under-navi-text;

  text-decoration: none;
}

@media (min-width: $desctop-width) {
  .intro-list__item {
    width: 220px;
    text-align: left;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
