.main-nav__container {
  @include container;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-nav__logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.main-nav__image {
  margin: 0 auto;
}

.main-nav__list {
  @include marpad-null;
  list-style: none;
}

.site-list__link,
.user-list__link {
  @include navi-text;

  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .main-nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    display: none;
  }
}
