.main-nav__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-nav__logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  padding-right: 30px;
  padding-left: 47px;

  padding-top: 22px;
  padding-bottom: 16px;
}

.main-nav__toggle {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='19.958px' height='14px' viewBox='0 0 19.958 14' enable-background='new 0 0 19.958 14' xml:space='preserve'%3E%3Crect fill='%23231F20' width='19.958' height='2'/%3E%3Crect y='6' fill='%23231F20' width='19.958' height='2'/%3E%3Crect y='12' fill='%23231F20' width='19.958' height='2'/%3E%3C/svg%3E%0A");
  width: 20px;
  height: 14px;
  background-color: transparent;
  border: 0;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}

.main-nav__toggle--on {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20.514px' height='20.512px' viewBox='0 0 20.514 20.512' enable-background='new 0 0 20.514 20.512' xml:space='preserve'%3E%3Cpolygon fill='%23231F20' points='20.513,1.414 19.099,0 10.256,8.842 1.414,0 0,1.414 8.842,10.256 0,19.098 1.414,20.512 10.256,11.67 19.099,20.512 20.513,19.098 11.671,10.256 '/%3E%3C/svg%3E");
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
  vertical-align: middle;
  cursor: pointer;
}

.main-nav__image {
  margin: 0 auto;

  @include logo-image;
}

.main-nav__list {
  @include marpad-null;
  list-style: none;
}

.site-list__link,
.user-list__link {
  @include navi-text;

  text-decoration: none;
}

.intro-list {
  display: none;
}

.main-nav__delivery {
  display: none;
  padding-bottom: 22px;
  padding-top: 17px;
}

@media (min-width: $tablet-width) {
  .main-nav__container {
    @include container;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-nav__toggle,
  .main-nav__toggle--on {
    display: none;
  }

  .main-nav__logo {
    order: 1;

    padding: 0;
    padding-top: 5px;
  }

  .main-nav__logo-image {
    width: 112px;
    height: 46px;
  }

  .user-list {
    width: 50%;
    order: 2;
    margin-left: auto;
  }

  .site-list {
    @include under-navi-text;

    order: 3;

    z-index: 4;
  }

  .main-nav__delivery {
    @include delivery-text;

    display: block;
    order: 4;
    margin-left: auto;

    z-index: 3;

    padding-bottom: 22px;
    padding-top: 17px;
  }
}

@media (min-width: $desctop-width) {
  .main-nav__container {
    @include container;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-nav__toggle,
  .main-nav__toggle--on {
    display: none;
  }

  .main-nav__logo {
    margin-left: 50px;
    margin-top: 5px;
    order: 2;

    padding: 0;
  }

  .main-nav__logo-image {
    width: 148px;
    height: 72px;
  }

  .site-list {
    order: 1;
  }

  .user-list {
    width: 400px;
    order: 3;
    margin-right: 0;
  }

  .intro-list {
    width: 400px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    order: 4;

    margin-right: auto;

    z-index: 5;
  }

  .main-nav__delivery {
    @include delivery-text;

    order: 5;
    margin-left: auto;
  }

}
