.options-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.options-list__item {
  @include advantage-title-text;

  padding-top: 58px;
  margin-bottom: 30px;
}

.options-list__item {
  position: relative;
}

.options-list__item--eco {
  padding-top: 57px;
}

.options-list__icon--eco {
  @include advantage-image;
  top: 0;
  left: 8px;
}

.options-list__item--style {
  padding-top: 53px;
}

.options-list__icon--style {
  @include advantage-image;
  top: 0;
  left: 0;
}

.options-list__item--like {
  padding-top: 52px;
}

.options-list__icon--like {
  @include advantage-image;
  top: 4px;
  left: 7px;
}

.options-list__item--love {
  padding-top: 53px;
}

.options-list__icon--love {
  @include advantage-image;
  top: 2px;
  left: 3px;
}

.options-list__item--nation {
  padding-top: 53px;
}

.options-list__icon--nation {
  @include advantage-image;
  top: 3px;
  left: -7px;
}

.options-list__item--present {
  padding-top: 54px;
}

.options-list__icon--present {
  @include advantage-image;
  top: 1px;
  left: 3px;
}

@media (min-width: $tablet-width) {
  .options-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .options-list__item {
    width: 291px;

    padding-top: 56px;
    margin-bottom: 56px;
  }

  .options-list__item--eco {
    order: 1;
  }

  .options-list__item--style {
    order: 3;
  }

  .options-list__item--like {
    order: 5;
  }

  .options-list__item--love {
    order: 2;
  }

  .options-list__item--nation {
    order: 4;
  }

  .options-list__item--present {
    order: 6;
  }
}

@media (min-width: $desctop-width) {
  .options-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

  }
}
