.page-footer {
  background-color: $bg-lightgray;

  padding-top: 52px;
  padding-bottom: 52px;
}

.page-footer__container {
  @include container;
}


@media (min-width: $desctop-width) {
  .page-footer {
    margin-top: 105px;
  }
}
