.page-header {
  font-style: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  background-color: $bg-white;
}

.page-header__container {
  @include container;
}
