.page-list__link--container {
  @include container;
}

.page-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0;
  margin: 0;
}

.page-list__link {
  &:hover {
    color: rgba(255, 255, 255, 1);
  }

  &:hover svg {
    opacity: 0.7;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:active svg {
    opacity: 0.3;
  }
}

.page-list__item--interior {
  background-color: $bg-green;
  text-align: left;

  position: relative;
}

.page-list__link--lamp {
  position: absolute;
  display: block;

  fill: #3bb09d;

  width: 40px;
  height: 62px;
  top: 23px;
  right: 35px;
  opacity: 0.5;
}

.page-list__item--toys {
  background-color: $bg-darkgreen;
  text-align: left;

  position: relative;
}

.page-list__link--toy {
  position: absolute;
  display: block;

  fill: #35a999;

  width: 60px;
  height: 60px;
  top: 20px;
  right: 27px;
  opacity: 0.5;
}

.page-list__link {
  text-decoration: none;

  @include goods-text;

  padding-right: 130px;
  padding-top: 30px;
  padding-bottom: 37px;

  display: block;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .page-list {
    @include container;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
  }

  .page-list::after {
    @include curve-figure;

    left: 0;
    height: 22px;
    bottom: 0;
  }

  .page-list__item {
    width: 100%;

    &:hover {
      transform: translateY(-5px);
      @include soft-animation;
    }

    &:hover svg {
      opacity: 0.7;
    }

    &:active {
      transform: translateY(-5px);
      @include soft-animation;

      color: rgba(255, 255, 255, 0.3);
    }

    &:active svg {
      opacity: 0.3;
    }
  }

  .page-list__link {
    width: 100%;
    margin-left: 0;
  }
}

@media (min-width: $desctop-width) {
  .page-list {
    @include container;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    position: relative;

  }

  .page-list::after {
    @include curve-figure;

    left: 0px;
    height: 17px;
  }

  .page-list__item {
    width: 100%;
  }

  .page-list__link {
    width: 100%;
    margin-left: 0;

    display: block;
    height: 100%;

    padding-right: 350px;
    padding-left: 37px;
  }
}
