.page-footer {
  background-color: $bg-lightgray;
}

.page-footer__wrapper {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__social {
    margin-right: 84px;
    margin-left: 159px;
  }

  .page-footer__logo-image {
    &:hover {
      fill: #63d1bb;
    }

    &:active {
      fill: #63d1bb;
      opacity: 0.3;
    }
  }
}

@media (min-width: $desctop-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
  }
}
