.page-intro {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;

  padding-top: 75px;
  padding-bottom: 120px;

  text-align: center;
}

.page-intro__slogan {
  @include marpad-null;
  @include intro-text;
}

.page-intro__slogan--container {
  @include container;
}
