.page-list__link--container {
  @include container;
}

.page-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0;
  margin: 0;
}

.page-list__item--interior {
  background-color: $bg-green;
  text-align: left;

  position: relative;
}

.page-list__link--lamp {
  position: absolute;
  display: block;
  fill: #3bb09d;
  width: 40px;
  height: 62px;
  top: 22px;
  right: 35px;
}

.page-list__link--interior {
  &:hover {
    color: rgba(255, 255, 255, 1);
  }

  &:hover svg {
    fill: #29a592;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:active svg {
    fill: #44c0aa;
  }
}

.page-list__item--toys {
  background-color: $bg-darkgreen;
  text-align: left;

  position: relative;
}

.page-list__link--toy {
  position: absolute;
  display: block;
  fill: #35a999;
  width: 60px;
  height: 60px;
  top: 20px;
  right: 27px;
}

.page-list__link--toys {
  &:hover {
    color: rgba(255, 255, 255, 1);
  }

  &:hover svg {
    fill: #239f8e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:active svg {
    fill: #37b2a0;
  }
}

.page-list__link {
  text-decoration: none;

  @include goods-text;

  padding-right: 130px;
  padding-top: 25px;
  padding-bottom: 31px;

  display: block;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .page-list {
    @include container;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
  }

  .page-list::after {
    @include curve-figure;

    left: 7px;
    height: 28px;
    bottom: -17px;

    width: 768px;
  }

  .page-list__item {
    width: 100%;

    &:hover {
      transform: translateY(-5px);
      @include soft-animation;
    }

    &:active {
      transform: translateY(-5px);
      @include soft-animation;

      color: rgba(255, 255, 255, 0.3);
    }
  }

  .page-list__link {
    @include goods-text-tablet;
    width: 100%;
    margin-left: 0;
    padding-left: 37px;
    padding-top: 28px;
  }

  .page-list__link--lamp {
    position: absolute;
    display: block;
    fill: #3bb09d;
    width: 40px;
    height: 62px;
    top: 30px;
    right: 36px;
  }

  .page-list__link--toy {
    position: absolute;
    display: block;
    fill: #35a999;
    width: 60px;
    height: 60px;
    top: 32px;
    right: 34px;
  }
}

@media (min-width: $desctop-width) {
  .page-list {
    @include container;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    position: relative;

  }

  .page-list::after {
    @include curve-figure;
    bottom: -4px;
    left: -39px;
    height: 40px;

    width: 1250px;
  }

  .page-list__item {
    width: 100%;

  }

  .page-list__link {
    width: 100%;
    margin-left: 0;

    display: block;
    height: 100%;

    padding-bottom: 50px;
    padding-right: 350px;
    padding-left: 37px;
  }
}
