.popup-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  list-style: none;

  width: 260px;
  height: 52px;
}

.popup-list__label {
  @include mobile-popup-btn;
}

.popup-list__checkbox + label {
  @include checkbox-modal-default;
}

.popup-list__checkbox + label::after {
  @include custom-modal-checkbox;
}

.popup-list__checkbox:checked + label::after {
  border-color: #63d1bb;
}

@media (min-width: $tablet-width) {
  .popup-list {
    width: 350px;
    height: 52px;
  }
}

@media  (min-width: $desctop-width){
  .popup-list {
    margin-left: -40px;
  }

  .popup-list__checkbox + label {
    @include checkbox-modal-default;

    padding-left: 52px;
    margin-left: -8px;
    padding-top: 15px;
    padding-bottom: 20px;
    cursor: pointer;
  }
}
