.reviews-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.reviews-wrapper__item {
  margin: 0;
  padding: 0;

  @include review-description-text;
}

.reviews-wrapper__author-name {
  @include author-name-text;
}

.reviews-wrapper__author-instagram {
  @include author-instagram-text;
}

.reviews-toggle {
  align-self: center;
}

.reviews-wrapper__add {
  @include reviews-add-text;

  align-self: center;
}
