.social__container {
  @include container;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social__list {
  list-style: none;

  @include marpad-null;
}
