.user-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.user-list {
  display: none;
}

.user-list__item {
  padding-left: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 63px;
  text-align: left;

  border-top: 1px solid #ececec;
}

.user-list--hide {
  display: block;
}

.user-list__link {
  display: block;
  margin: 0 auto;
  width: 182px;

    &:hover {
      fill: $hover;
      opacity: 0.6;
    }

    &:active {
      fill: $hover;
      opacity: 0.3;
    }

    &:hover svg {
      fill: #46c1ae;
    }

    &:active svg {
      fill: #bde3dd;
    }
}

.user-list__item--search {
  position: relative;
}

.user-list__search-icon {
  position: absolute;
  display: block;
  left: 32px;
  top: 35px;
  width: 18px;
  height: 19px;
  fill: #d3d2d2;
}

.user-list__item--cart {
  position: relative;
}

.user-list__cart-icon {
  position: absolute;
  display: block;
  left: 32px;
  top: 35px;
  width: 18px;
  height: 18px;
  fill: #d3d2d2;
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    order: 1;

    width: 350px;
    border-left: 1px solid #ececec;
  }

  .user-list__item--cart {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 0;
    width: 264px;
    text-align: right;

    border-top: none;

    position: relative;

    border-left: 1px solid #ececec;
  }

  .user-list__link {
    width: 100%;
  }

  .user-list__item--search {
    width: 84px;
    border-top: none;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 33px;
    padding-right: 31px;

    position: relative;
  }

  .user-list__link--search {
    display: block;

    padding: 0;
    font-size: 0;
  }

  .user-list__item--cart {
    padding-right: 0;
  }

  .main-nav__delivery {
    padding-top: 17px;
    padding-bottom: 22px;
  }
}

@media (min-width: $desctop-width) {
  .user-list {
    display: flex;
    flex-direction: row;
    order: 2;

    padding: 0;
  }

  .user-list__link {
    margin-top: -2px;
  }

  .user-list__search-icon {
    position: absolute;
    display: block;
    left: 32px;
    top: 35px;
    width: 18px;
    height: 19px;
    fill: #d3d2d2;
  }

  .user-list__item--cart {
    position: relative;
  }

  .user-list__cart-icon {
    position: absolute;
    display: block;
    left: 29px;
    top: 34px;
    width: 18px;
    height: 18px;
    fill: #d3d2d2;
    opacity: 1;
  }

  .user-list__item {
    padding-top: 32px;
    padding-bottom: 32px;

    border-top: none;
  }
  .user-list__item--search {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
