.user-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.user-list__item {
  padding-left: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 63px;
  text-align: left;

  border-top: 1px solid #ececec;
}

.user-list--hide {
  display: none;
}

.user-list__link {
  display: block;
  margin: 0 auto;
  width: 182px;
}

.user-list__item--search {
  position: relative;
}


.user-list__search-icon {
  position: absolute;
  display: block;
  left: 32px;
  top: 33px;
  width: 18px;
  height: 19px;
  fill: #d3d2d2;
}

.user-list__item--cart {
  position: relative;
}

.user-list__cart-icon {
  position: absolute;
  display: block;
  left: 32px;
  top: 33px;
  width: 18px;
  height: 19px;
  fill: #d3d2d2;
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .user-list--hide {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    order: 1;

    width: 350px;
  }

  .user-list__item--cart {
    padding-top: 34px;
    padding-bottom: 36px;
    padding-right: 0;
    width: 264px;
    text-align: right;

    border-top: none;

    position: relative;
  }

  .user-list__link {
    width: 100%;
  }

  .user-list__item--cart::after {
    @include silver-line-pseudo;
  }

  .user-list__link--search {
    display: none;
  }

  .user-list__item--search {
    width: 84px;

    border-top: none;

    padding: 0;

    padding-top: 42px;
    padding-bottom: 50px;
    padding-left: 33px;
    padding-right: 31px;

    position: relative;
  }

  .user-list__item--search::after {
    @include silver-line-pseudo;
  }

  .user-list__item--cart {
    padding-right: 0;
  }

  .main-nav__delivery {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

@media (min-width: $desctop-width) {
  .user-list--hide {
    display: flex;
    flex-direction: row;
    order: 2;
  }

  .user-list__item {
    padding-top: 33px;
    padding-bottom: 33px;

    border-top: none;
  }
  .user-list__link--search {
    display: none;
  }
}
