.item-info__name {
  @include catalog-item-title;

  @include marpad-null;

  padding-top: 28px;
  padding-bottom: 10px;
}

.item-info__link {
  text-decoration: none;
  color: #000000;
}

.item-info__details {
  @include catalog-item-details;
}

.item-info__price {
  @include catalog-item-price;
}

.item-info {
  padding-left: 28px;
  padding-right: 27px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-info__description {
  padding-bottom: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-info__purchase {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-top: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .item-info {
    width: 50%;
  }
}

@media (min-width: $desctop-width) {
  .item-info {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
