.item-info__name {
  @include catalog-item-title;

  @include marpad-null;
}

.item-info__link {
  text-decoration: none;
  color: #000000;
}

.item-info__details {
  @include catalog-item-details;
}

.item-info__price {
  @include catalog-item-price;
}

.item-info {
  padding-left: 28px;
  padding-right: 27px;

  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-info__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-info__details {
  margin-bottom: 25px;
}

.item-info__purchase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 22px;

  border-top: 1px solid #ececec;

  position: relative;
}

.item-info__icon-cart {
  position: absolute;
  fill: #cccccc;
  cursor: pointer;

  right: 0;
  top: 25px;
}

@media (min-width: $tablet-width) {
  .item-info {
    width: 332px;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .item-info__purchase {
    padding-top: 23px;

    border-top: 1px solid #ececec;
  }
}

@media (min-width: $desctop-width) {
  .item-info {
    width: 100%;
    margin-top: 28px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .item-info__details--desktop {
    margin-bottom: 0;
  }

  .item-info__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .item-info__purchase {
    width: auto;
    margin-top: auto;
    padding-top: 23px;

    border-top: 1px solid #ececec;
  }
}
