.form-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-list__item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-list__item--name {
  padding-left: 0;
}

.form-list__input--radio + label {
  @include radio-default;
}

.form-list__input--radio + label::before {
  @include custom-radio;
}

.form-list__input--radio + label:hover::before {
  border-color: $hover;
}

.form-list__input--radio + label:active::before {
  border-color: $active;
}


.form-list__input--radio:checked + label::after {
  @include radio-checked;
}

.form-list__input--checkbox + label {
  @include checkbox-default;
}

.form-list__input--checkbox + label::before {
  @include custom-checkbox;
}

.form-list__input--checkbox + label:hover::before {
  border-color: $hover;
}

.form-list__input--checkbox + label:active::before {
  border-color: $active;
}

.form-list__input--checkbox:checked + label::after {
  @include checkbox-checked;
}

.form-list__item--color {
  margin-bottom: 22px;
}

.form-list__item--color:last-child {
  margin-bottom: 0;
}

.form-list__input--text {
  border: 0;
  border-bottom: 2px solid #000000;
  padding-top: 13px;
  padding-bottom: 20px;
  height: 50px;
  width: 100%;
  background-color: transparent;
  outline: none;
}

.form-list__input--text:hover {
  border-color: $hover;
}

@media (min-width: $tablet-width) {
  .form-list {
    width: 500px;
    @include marpad-null;
  }

  .form-list__item {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .form-list__item--type {
    margin-bottom: 24px;
  }

  .form-list__item--name {
    padding-left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .form-list__input--text {
    margin-left: 25px;
    width: 100%;
    padding-left: 18px;
  }

  .form-list--color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .form-list__item--color {
    width: 250px;
  }
}

@media (min-width: $desctop-width) {
  .fomr-list__item {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .form-item__list--details {
    width: 700px;
  }

  .form-list__item--name {
    padding-left: 0;
  }

  .form-list--color {
    width: 875px;
  }

  .form-list__item--color {
    width: 292px;
  }

  .form-list__item--color:nth-child(3n) {
    width: 291px;
  }

  .form-list__input--text {
    margin-left: 25px;
    width: 100%;

    padding-right: 175px;
    max-width: 700px;
  }
}
