.form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-item__legend {
  @include form-title-text;
  @include marpad-null;

  margin-bottom: 25px;
  padding-right: 200px;

  position: relative;
}

.form-item__legend::after {
  @include green-line-pseudo;
}

.form-item__legend--email::after {
  @include green-line-pseudo;
  width: 70%;
  left: 81px;
}

.form-item__list {
  @include marpad-null;
  @include form-label-text;

  list-style-type: none;
}

.form-item__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-item__book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-item__textarea {
  min-height: 138px;
  border: 2px solid black;

  padding: 17px;
}

.order-form__description {
  @include form-required-text;

}


@media (min-width: $tablet-width) {
  .form-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  .form-item__legend {
    width: 167px;
    padding-right: 0;
  }

  .form-item__legend::after {
    display: none;
  }

  .form-item__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  .form-item__textarea {
    width: 500px;
    min-height: 138px;
    border: 2px solid black;
  }

  .order-form__description {
    width: 300px;
  }
}

@media (min-width: $desctop-width) {
  .form-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  .form-item__legend {
    width: 175px;
    text-align: left;
    padding-left: 60px;
    padding-right: 0;
  }

  .form-item__legend::after {
    display: none;
  }

  .form-item__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form-item__textarea {
    width: 700px;
    min-height: 138px;
    border: 2px solid black;
  }
}
