.form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-item__legend {
  @include form-title-text;
  @include marpad-null;

  margin-top: 0px;
  margin-bottom: 22px;
  padding-right: 200px;

  position: relative;
}

.form-item__legend--details {
  margin-bottom: 18px;
  margin-top: 2px;
}

.form-item__legend::after {
  @include green-line-pseudo;
}

.form-item__legend--email::after {
  @include green-line-pseudo;
  width: 70%;
  left: 81px;
}

.form-item__list {
  @include marpad-null;
  @include form-label-text;

  list-style-type: none;
}

.form-item__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-item__book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-item__label {
  @include form-title-text;
  @include marpad-null;

  margin-bottom: 25px;
  padding-right: 200px;

  position: relative;
}

.form-item__label::after {
  @include green-line-pseudo;
  width: 85%;
}

.form-item__label--email::after {
  @include green-line-pseudo;
  width: 70%;
  left: 81px;
}

.form-item__input {
  border: 0;
  border-bottom: 2px solid #000000;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 100%;
  background-color: transparent;

  padding-right: 42px;

  &:hover {
    border-color: $hover;
    @include soft-animation;
  }

  outline: none;
}

.form-item__input:hover ~ svg {
  fill: $hover;

  @include soft-animation;
}

.form-item__icon--tel:hover {
  fill: $hover;
  @include soft-animation;
}

.form-item__icon--email:hover {
  fill: $hover;
  @include soft-animation;
}

.form-item__contact {
  position: relative;
  margin-top: -17px;
  margin-bottom: 18px;
}

.form-item__icon--tel {
  position: absolute;
  fill: #cccccc;
  right: 38px;
  bottom: 18px;
}

.form-item__icon--email {
  position: absolute;
  display: block;
  fill: #cccccc;
  right: 38px;
  bottom: 18px;
  width: 32px;
  height: 21px;
}

.form-item__textarea {
  min-height: 138px;
  border: 2px solid black;

  padding: 13px;
  outline: none;
}

.form-item__legend--textarea {
  margin-bottom: 27px;
  margin-top: -18px;
}


.form-item__textarea:hover {
  border-color: $hover;
}

.form-item__textarea:active {
  border-color: $hover;
}

.order-form__description {
  @include form-required-text;
}


@media (min-width: $tablet-width) {
  .form-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  .form-item__legend {
    width: 167px;
    padding-right: 0;
  }

  .form-item__legend::after {
    display: none;
  }

  .form-item__label {
    width: 167px;
    padding-right: 0;
  }

  .form-item__label::after {
    display: none;
  }

  .form-item__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    position: relative;
  }

  .form-item__icon--tel {
    position: absolute;
    display: block;
    fill: #cccccc;
    right: 76px;
    bottom: 18px;
  }

  .form-item__icon--email {
    position: absolute;
    display: block;
    fill: #cccccc;
    right: 76px;
    bottom: 18px;
  }

  .form-item__input {
    width: 500px;
    padding-left: 18px;
  }


  .form-item__textarea {
    width: 500px;
    min-height: 138px;
    border: 2px solid black;
  }

  .order-form__description {
    width: 300px;
  }
}

@media (min-width: $desctop-width) {
  .form-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  .form-item__legend {
    width: 175px;
    text-align: left;
    padding-left: 60px;
    padding-right: 0;
  }

  .form-item__legend::after {
    display: none;
  }

  .form-item__label {
    width: 175px;
    text-align: left;
    padding-left: 60px;
    padding-right: 0;
  }

  .form-item__label::after {
    display: none;
  }

  .form-item__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .form-item__contact {
    position: relative;
  }

  .form-item__icon--tel {
    position: absolute;
    display: block;
    fill: #cccccc;
    right: 233px;
    bottom: 18px;
  }

  .form-item__icon--email {
    position: absolute;
    display: block;
    fill: #cccccc;
    right: 233px;
    bottom: 18px;
  }

  .form-item__input {
    min-width: 700px;
  }

  .form-item__textarea {
    width: 700px;
    min-height: 138px;
    border: 2px solid black;
  }
}
