.form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-item__legend {
  @include form-title-text;
  @include marpad-null;

  padding-bottom: 25px;
}

.form-item__list {
  @include marpad-null;
  @include form-label-text;

  list-style-type: none;
}

.form-item__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-item__book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-item__textarea {
  min-height: 138px;
  border: 2px solid black;
}

.order-form__description {
  @include form-required-text;

  margin-bottom: 30px;
}


@media (min-width: $tablet-width) {
  .form-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  .form-item__legend {
    width: 167px;
  }

  .form-item__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  .form-item__textarea {
    width: 500px;
    min-height: 138px;
    border: 2px solid black;
  }

  .order-form__description {
    width: 300px;
  }
}

@media (min-width: $desctop-width) {
  .form-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  .form-item__legend {
    width: 175px;
    text-align: left;
    padding-left: 60px;
  }

  .form-item__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form-item__textarea {
    width: 700px;
    min-height: 138px;
    border: 2px solid black;
  }
}
