.order-form__container {
  @include container;
}

.order-button__container {
  @include container;
}


.order-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-form__legend {
  @include form-title-text;
  @include marpad-null;
}

.order-form__list {
  @include marpad-null;
  list-style-type: none;
}

.order-form__unit label {
  @include form-label-text;
}
