.order-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.order-form__container {
  @include container;
}

.order-form__item {
  padding-top: 30px;
  padding-bottom: 0px;
}

.order-form__book {
  margin-bottom: 55px;
}

.order-form__submit {
  width: 260px;
  margin: 0;
  margin-top: 32px;

  @include button;
  @include page-button-text;
}

.order-form__item--textarea {
  margin-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .order-form__item {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .order-form__item--details {
    padding-top: 50px;
    padding-bottom: 58px;
  }

  .order-form__item--color {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .order-form__item--tel {
    margin-top: -5px;
    margin-bottom: 0;
    padding-bottom: 7px;
    padding-top: 68px;
  }

  .order-form__item--mail {
    margin-bottom: 46px;
    padding-bottom: 28px;
    padding-top: 12px;
  }

  .order-form__item--gray {
    background-color: #f1f1f1;
  }

  .order-form__item--textarea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    padding-top: 2px;
    padding-bottom: 5px;
    margin-bottom: 17px;
  }

  .order-form__book {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    margin-bottom: 50px;
  }

  .order-form__description {
    order: 2;

    margin: 0;
    margin-left: auto;
    text-align: right;
  }

  .order-form__submit {
    order: 1;

    width: 231px;
    padding: 15px 17px 15px 14px;
  }
}

@media (min-width: $desctop-width) {
  .order-form__item--gray {
    background-color: #f1f1f1;
  }

  .order-form__item--details {
    padding-bottom: 55px;
  }

  .order-form__book {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    padding-left: 225px;
    padding-right: 225px;

    margin-bottom: 50px;
  }

  .order-form__description {
    order: 2;
    margin-left: auto;
    text-align: right;
  }

  .order-form__submit {
    order: 1;

    margin-top: 29px;
  }
}
