.order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.order-description {
  @include container;
}

.order-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
