.contacts-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts-details__flag {
  display: none;
}

.contacts-details__title {
  @include contacts-title-text;

  margin-top: 34px;
  margin-bottom: 25px;
}

.contacts-details__list {
  @include contacts-list-mobile;

  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .contacts-details__flag {
    position: absolute;
    display: block;
    width: 47px;
    height: 81px;
    top: 48px;
    right: 52px;
  }

  .contacts-details__title {
    @include intro-text-tablet;

    margin-bottom: 49px;
    margin-top: 63px;
    margin-left: -3px;
  }

  .contacts-details__list {
    @include contacts-list-tablet;
  }
}

@media (min-width: $desctop-width) {
  .contacts-details {
    margin-left: 175px;
    width: 350px;
    padding: 0;
  }

  .contacts-details__flag {
    position: absolute;
    display: block;
    width: 47px;
    height: 81px;
    top: 135px;
    left: -112px;
  }

  .contacts-details__title {
    @include intro-text-desctop;

    margin-top: 143px;
    margin-bottom: 48px;
  }
}
