.goods-list {
  width:100%;
  text-align:left;
  border-collapse:collapse;
}

.goods-list__item {
  width: 260px;
  display: block;

  margin-bottom: 6px;
  padding-bottom: 11px;

  border-bottom: 1px solid #ececec;
}

.goods-list__item:last-child {
  margin-bottom: 0;
}

.goods-list__parameter {
  @include table-text;
  min-width: 98px;
}


.goods-list__value {
  @include table-text;
}

@media (min-width: $tablet-width) {
  .goods-list__item {
    width: 260px;
    display: block;

    margin-bottom: 8px;
    padding-bottom: 9px;
    margin-left: -1px;
    border-bottom: 1px solid #ececec;
  }
}
