.item-info__name {
  @include catalog-item-title;
  @include marpad-null;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.item-info__name {
  margin-bottom: 3px;
}

.item-info__name--basket {
  margin-top: -4px;
  margin-bottom: 5px;
}

.item-info__name--big-basket {
  margin-top: -4px;
  margin-bottom: 5px;
}

.item-info__link {
  text-decoration: none;
  color: #000000;
}

.item-info__details {
  @include catalog-item-details;
}

.item-info__price {
  @include catalog-item-price;
}

.item-info {
  padding-left: 28px;
  padding-right: 27px;

  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-info__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-info__details {
  margin-bottom: 19px;
}

.item-info__purchase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 21px;

  border-top: 1px solid #ececec;

  position: relative;
}

.item-info__icon-cart {
  position: absolute;
  fill: #cccccc;
  cursor: pointer;

  right: 0;
  top: 22px;

  &:focus {
    fill: $hover;
  }

  &:hover {
    fill: $hover;
  }

  &:active {
    fill: $hover;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .item-info {
    width: 332px;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .item-info__name {
    @include catalog-item-tablet;
  }

  .item-info__name--basket {
    margin-top: -3px;
    margin-bottom: 9px;
  }

  .item-info__name--big-basket {
    margin-top: -4px;
    margin-bottom: 7px;
  }

  .item-info__details {
    @include catalog-item-details-tablet;
  }

  .item-info__price {
    @include catalog-item-price-tablet;
  }

  .item-info__purchase {
    padding-top: 21px;

    border-top: 1px solid #ececec;
  }

  .item-info__icon-cart {
    position: absolute;
    fill: #cccccc;
    cursor: pointer;

    right: 5px;
    top: 23px;

    &:hover {
      fill: $hover;
    }

    &:active {
      fill: $hover;
      opacity: 0.3;
    }
  }
}

@media (min-width: $desctop-width) {
  .item-info {
    width: 100%;
    margin-top: 29px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 26px;
  }

  .item-info__name--rabbit {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .item-info__name--basket {
    margin-top: -1px;
    margin-bottom: 1px;
  }

  .item-info__name--big-basket {
    margin-top: 0;
    margin-bottom: 3px;
  }

  .item-info__details--desktop {
    margin-bottom: 0;
  }

  .item-info__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  .item-info__description--desktop {
    margin-bottom: 13px;
  }

  .item-info__purchase {
    width: auto;
    padding-top: 18px;
    margin-top: 10px;

    border-top: 1px solid #ececec;
  }
  .item-info__purchase--big-basket {
    margin-top: 0;
    padding-top: 21px;
  }
}
