.reviews-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reviews-toggle__previous {
  height: 50px;
  border: 1px solid #ececec;
  border-right: none;
  width: 130px;
  position: relative;
  background-color: transparent;
  outline: none;
}

.reviews-toggle__arrow-prev {
  position: absolute;
  display: block;
  fill: black;
  width: 50px;
  height: 26px;
  top: 11px;
  left: 38px;
  cursor: pointer;

  @include review-toggle;
}

.reviews-toggle__arrow-next:focus {
  fill: red;
}

.reviews-toggle__next {
  height: 50px;
  border: 1px solid #ececec;
  width: 130px;
  position: relative;
  background-color: transparent;
  outline: none;
}

.reviews-toggle__arrow-next {
  position: absolute;
  display: block;
  fill: black;
  width: 50px;
  height: 26px;
  top: 11px;
  left: 38px;
  cursor: pointer;

  @include review-toggle;
}

@media (min-width: $tablet-width) {
  .reviews-toggle__previous,
  .reviews-toggle__next {
    border: none;
  }
}

@media (min-width: $desctop-width) {
  .reviews-toggle__previous,
  .reviews-toggle__next {
    border: none;
  }
}
