.reviews-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @include container;
}

.reviews-wrapper__title {
  @include review-title-text;

  margin-top: 25px;
  margin-bottom: 24px;
}

.reviews-wrapper__add {
  @include reviews-add-text;
  @include button;

  width: 260px;
  align-self: center;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews-wrapper {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 350px auto;

    @include retina;
  }

  .reviews-wrapper__title {
    @include review-title-tablet;

    margin-bottom: 0;
    margin-top: 82px;
    order: 1;

    padding-left: -4px;
  }

  .reviews-wrapper__item {
    order: 3;
    position: relative;
    margin-top: 45px;
  }

  .reviews-wrapper__add {
    @include button;
    padding: 13px 40px 15px 40px;
    align-self: center;
    order: 2;

    padding-left: 39px;
    padding-right: 39px;

    width: 175px;

    margin-top: 84px;
  }
}

@media (min-width: $desctop-width) {
  .reviews-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50px 12px;
    
    @include retina
  }

  .reviews-wrapper__title {
    @include review-title-desktop;
    order: 1;
    margin-left: 175px;
  }

  .reviews-wrapper__item {
    order: 3;
    margin-left: 175px;
  }

  .reviews-wrapper__add {
    order: 2;
    margin-top: 91px;
  }
}
