.site-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-list {
  display: block;
}

.site-list__item {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 75px;
  text-align: left;
  padding-right: 63px;

  border-top: 1px solid #ececec;
}

.site-list--hide {
  display: none;
}

.site-list__link {
  display: block;
  margin: 0 auto;
  width: 182px;
}

.site-list__link:hover {
  color: $hover-link;
}

.site-list__link:active {
  color: $active-link;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    order: 3;

    margin: 0;
    padding: 0;
  }

  .site-list__item {
    width: 167px;
    text-align: left;
    border-top: none;
    padding: 0;

    padding-top: 16px;
    padding-bottom: 22px;
  }

  .site-list__link {
    @include under-navi-text;
  }

  .site-list__link:hover {
    color: $hover-link;
  }

  .site-list__link:active {
    color: $active-link;
  }

  .main-nav__delivery {
    @include delivery-text;
  }
}

@media (min-width: $desctop-width) {
  .site-list {
    width: 400px;
    display: flex;
    flex-direction: row;
    order: 1;

    margin: 0;
    padding: 0;
  }

  .site-list__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .site-list__item:first-child {
    width: 185px;
    border-top: none;
    margin-right: 35px;
    border-right: 1px solid #ececec;
  }

  .site-list__link {
    @include navi-text;
  }

  .site-list__item:first-child {
    margin-right: 35px;
  }

  .site-list__link:hover {
    color: $hover-link;
  }

  .site-list__link:active {
    color: $active-link;
  }
}
